input {
  display: flex;
  height: 35px;
  width: 250px;
  border-radius: 20px;
  border-color: #DEDFE1;
  border-style: solid;

  &::placeholder {
    padding-left: 10px;
    color: #DEDFE1;
  }

  &:focus-visible {
    outline: none;
  }
}