.button {
  justify-self: center;
  height: 40px;
  border-width: 0px;
  padding-inline: 30px;
  color: white;
  font-weight: bold;

  &--primary {
    border-radius: 25px;
    background-color: #3E6CEC;
    background-repeat: repeat;
  }
}